#hero-section {
    background-image: url(/src/Components/images/Hero-section-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 53rem;
    color: #fff;
}

.hero-text {
    padding: 145px 0 0 50px;
    width: 850px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

#hero-text {
    z-index: 1000;
}

.trust-badge {
    display: flex;
    align-items: center;
    width: 295px;
    padding: 5px 8px;
    border-radius: 20px;
    background: #39251c20;
    /* background-color: #5C2910; */
    backdrop-filter: blur(25px);
    border: 1px solid #FF914D;
}

.trust-badge p {
    color: #FF914D;
    font-weight: 500;
    font-size: 0.9rem;
}

.badge {
    fill: #FF914D;
    margin-right: 8px;
}

h1 {
    font-size: 3.5rem;
}

h1 > span {
    color: #FF914D;
}

.p-tag {
    font-size: 1.3rem;
    font-weight: 500;
    /* color: #FF914D; */
    /* margin-left: 70px; */
}

.overlay {
    background-color: #000;
    position: absolute;
    z-index: 1;
    opacity: 45%;
    width: 100%;
    height: 53rem;
    top: 0;
    left: 0;
}


.start {
    padding: 14px 20px;
    border-radius: 35px;
    text-decoration: none;
    color: #000;
    background-color: #FF914D;
    display: flex;
    align-items: center;
    width: 250px;
    font-weight: 600;
    font-size: 1.1rem;
}

.start:hover {
    background-color: #E07A38;
    transition: 1.1s ease;
}

.start svg {
    fill: #000;
    margin-left: 10px;
}

.hero-cta {
    display: flex;
    gap: 30px;
}

.see {
    padding: 14px 20px;
    border-radius: 35px;
    text-decoration: none;
    color: #fff;
    /* background-color: #FF914D; */
    background: #39251c20;
    display: flex;
    align-items: center;
    width: 190px;
    font-weight: 600;
    font-size: 1.1rem;
    border: 2.5px solid #fff;
}

.see:hover {
    background-color: #fff;
    color: #000;
    transition: 1.1s ease;
}

.hero-bottom {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.p-top p {
    font-size: 2.9rem;
    font-weight: 600;
    color: #FF914D;
}

.p-bottom p {
    font-size: 1.1rem;
    /* color: #e7ecf4; */
}